[general]
debug = false

[telegram]
api_id =
api_hash =
sessionfile = tgsession
chatroom = 3C Quick Stats

[commas]
key =
secret =
timeout = 3
retries = 5
delay_between_retries = 2.0

[dcabot]
prefix = 3CQSBOT
subprefix = MULTI
suffix = TA_SAFE
tp = 1.5
bo = 11
so = 11
os = 1.05
ss = 1
sos = 2.4
mad = 3
max = 1
mstc = 25
sdsp = 1
single = false
btc_min_vol = 100

[trading]
market = USDT
trade_mode = paper
account_name = Paper Account 1064454
delete_single_bots = false
# Binance only
trailing = false
trailing_deviation = 0.2

[filter]
symrank_limit = 10000
volatility_limit = 10000
price_action_limit = 10000
# not more then 3500
topcoin_limit = 3500
limit_initial_pairs = false
# RSI-7 < 100 (means asap)
# single strategy
deal_mode = [{"options": {"time": "3m", "points": "100"}, "strategy": "rsi"}]
# multiple strategies 
#deal_mode = [{"options": {"time": "5m", "type": "buy_or_strong_buy"}, "strategy": "trading_view"},{"options":{"time":"15m","points":70},"strategy":"rsi"},{"options":{"time":"1h","points":70},"strategy":"rsi"},{"options":{"time":"4h","points":70},"strategy":"rsi"}]
btc_pulse = false
token_denylist = [USDT_BTC, USDT_ETH, USDT_BUSD, USDT_USDC]
