[general]
debug = false
log_to_file = false
log_file_path = 3cqsbot.log
log_file_size = 200000
log_file_count = 5

[telegram]
api_id =
api_hash =
sessionfile = tgsession
chatroom = 3C Quick Stats

[commas]
key =
secret =
timeout = 3
retries = 5
delay_between_retries = 2.0

[dcabot]
prefix = 3CQSBOT
subprefix = MULTI
suffix = TA_SAFE
tp = 1.5
bo = 11
so = 11
os = 1.05
ss = 1
sos = 2.4
mad = 1
max = 1
mstc = 25
sdsp = 1
single = false
single_count = 3
btc_min_vol = 100

[trading]
market = USDT
trade_mode = paper
account_name = Paper Account 1064454
delete_single_bots = false
singlebot_update = true
# Binance only
trailing = false
trailing_deviation = 0.2

[filter]
symrank_signal = old
symrank_limit_min = 1
symrank_limit_max = 10000
volatility_limit_min = 1
volatility_limit_max = 10000
price_action_limit_min = 1
price_action_limit_max = 10000
topcoin_volume = 0
# not more then 3500
topcoin_limit = 3500
topcoin_exchange = binance
limit_initial_pairs = false
random_pair = true
# RSI-7 < 100 (means asap)
# single strategy
deal_mode = [{"options": {"time": "3m", "points": "100"}, "strategy": "rsi"}]
# multiple strategies 
#deal_mode = [{"options": {"time": "5m", "type": "buy_or_strong_buy"}, "strategy": "trading_view"},{"options":{"time":"15m","points":70},"strategy":"rsi"},{"options":{"time":"1h","points":70},"strategy":"rsi"},{"options":{"time":"4h","points":70},"strategy":"rsi"}]
btc_pulse = false
# ATTENTION: if ext_botswitch set to true, btc_pulse will be ignored
ext_botswitch = false
token_denylist = [USDT_BTC, USDT_ETH, USDT_BUSD, USDT_USDC]
