[general]
debug = false

# Websocket
########################################
API_VERSION=0.5-beta
API_KEY="Your api key from 3CQS here - without Quotes"
API_URL=https://stream.3cqs.com
WEBSOCKET_RECONNECT_TIMEOUT=10000
WEBSOCKET_RECONNECT_ATTEMPTS=5

[commas]
key = "Your api key from 3Commas here - without Quotes"
secret = "Your secret from 3Commas here - without Quotes"

[dcabot]
prefix = 3CQSBOT
subprefix = MULTI
suffix = TA_SAFE
tp = 1.5
bo = 11
so = 11
os = 1.05
ss = 1
sos = 2.4
mad = 2
max = 1
mstc = 25
sdsp = 1
single = false

[trading]
market = USDT
trade_mode = paper
account_name = "Your paper account here - without quotes"
deal_mode = [{"options": {"time": "3m", "points": "100", "time_period": "7", "trigger_condition": "less"}, "strategy": "rsi"}]

[filter]
symrank_signal = 1
token_denylist = [USDT_BTC, USDT_ETH, USDT_BUSD, USDT_USDC]
