[general]
timezone = Europe/Amsterdam
debug = false
logrotate = 7

[telegram]
api_id = "Your api id from Telegram here - without Quotes"
api_hash = "Your api hash from Telegram here - without Quotes"
#sessionfile = tgsession
#chatroom = 3C Quick Stats
#notifications = False
#notify-urls = [ "tgram://1234567890:xxxxx/0987654321" ]

[commas]
key = "Your api key from 3Commas here - without Quotes"
secret = "Your secret from 3Commas here - without Quotes"
#timeout = 3
#retries = 5
#delay_between_retries = 2.0
#system_bot_value = 300

[dcabot]
# When using FGI in combination with multibot and if you want to use other bot names with suffix _aggressive, _moderate or _defensive, 
# then it is important to enter the botid of the existing 3cqsbot to prevent creation of a new one 
#botid = 1234567
prefix = 3CQSBOT
subprefix = MULTI
suffix = TA_SAFE
mad = 10
# RSI-7 < 100 (means asap)
# single strategy
deal_mode = [{"options": {"time": "3m", "points": "100", "time_period": "7", "trigger_condition": "less"}, "strategy": "rsi"}]
# multiple strategies 
#deal_mode = [{"options": {"time": "5m", "type": "buy_or_strong_buy"}, "strategy": "trading_view"},{"options": {"time": "15m", "points": "70", "time_period": "7", "trigger_condition": "less"}, "strategy": "rsi"},{"options": {"time": "1h", "points": "70", "time_period": "7", "trigger_condition": "less"},{"options": {"time": "4h", "points": "70", "time_period": "7", "trigger_condition": "less"}]
tp = 1.5
# Caution - Not all exchanges support trailing take profit
#trailing = false
#trailing_deviation = 0.2
bo = 11
so = 11
os = 1.05
ss = 1
sos = 2.4
mstc = 25
max = 1
sdsp = 1
#btc_min_vol = 100
#cooldown = 30
#deals_count = 1

#[fgi_aggressive]
#fgi_min = 61
#fgi_max = 100
# aggressive DCA settings - copy all DCA parameters of [dcabot] without botid and modify accordingly

#[fgi_moderate]
#fgi_min = 31
#fgi_max = 60
# moderate DCA settings - copy all DCA parameters of [dcabot] without botid and modify accordingly

#[fgi_defensive]
#fgi_min = 0
#fgi_max = 30
# defensive DCA settings - copy all DCA parameters of [dcabot] without botid and modify accordingly

[trading]
market = USDT
trade_mode = paper
account_name = "Your paper account here - without quotes"
single = false
single_count = 1
#delete_single_bots = false
#singlebot_update = true
# Futures trading only
trade_future = false
leverage_type = cross
leverage_value = 2
stop_loss_percent = 1
stop_loss_type = stop_loss_and_disable_bot
stop_loss_timeout_enabled = false
stop_loss_timeout_seconds = 5

[filter]
# possible symrank_signal: triple100, quadruple100, quadruple250, top30, svol, svoldouble, hvol, hvoldouble, uvol, xvol, all
symrank_signal = triple100
#symrank_limit_min = 1
#symrank_limit_max = 100
#volatility_limit_min = 0.1
#volatility_limit_max = 100
#price_action_limit_min = 0.1
#price_action_limit_max = 100
#topcoin_filter = False
# warning to not use this attribute for large bots!
# set it to 0 if you want to disable it
# topcoin_volume = 300
# not more then 3500 coins
#topcoin_limit = 3500
#topcoin_exchange = binance
#continuous_update = true
#limit_initial_pairs = false
#random_pair = true
# Use different DCA settings according to FGI, define DCA settings under [fgi_aggressive], [fgi_moderate] and [fgi_defensive]
#fearandgreed = false
#fgi_trade_min = 30
#fgi_trade_max = 100
#btc_pulse = false
# ATTENTION: if ext_botswitch set to true, btc_pulse will be ignored
#ext_botswitch = false
# additional token denylist (blacklist of 3commas is used by default)
#token_denylist = [USDT_BUSD, USDT_USDC]
#token_whitelist = [BTC_BUSD, ETH_BUSD]
