[general]
debug = false

[telegram]
api_id = "Your api id from Telegram here - without Quotes"
api_hash = "Your api hash from Telegram here - without Quotes"

[commas]
key = "Your api key from 3Commas here - without Quotes"
secret = "Your secret from 3Commas here - without Quotes"

[dcabot]
prefix = 3CQSBOT
subprefix = SINGLE
suffix = TA_SAFE
mad = 1
tp = 1.5
bo = 11
so = 11
os = 1.05
ss = 1
sos = 2.4
mstc = 25
max = 1
sdsp = 1

[trading]
market = USDT
trade_mode = paper
account_name = "Your paper account here - without quotes"
single = true
single_count = 10

[filter]
symrank_signal = triple100
